<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mensajeria</title>
        <link rel="stylesheet" href="../css/styles.css">
        <script src="../js/script.js" defer></script>
    </head>
    <body>
        <div class="container">
            <h1>Envia tu mensaje</h1>
            <form id="messageForm">
                <input type="text" id="messageInput" placeholder="Escribe tu mensaje..." required>
                <button id="sendMessage" type="submit">Enviar</button>
            </form>
            <div id="responseContainer">
                <pre id="responseOutput"></pre>
                <div id="tables">
                    <div class="col-md-8">
                        <div class="card-body">
                            <table id="courseTable" class="table table-striped" >
                                <thead>
                                <tr>
                                    <th>Mensajes</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
